apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    uid: influxdb
    access: proxy
    url: http://influxdb:8086
    jsonData:
      version: Flux
      organization: macfe
      defaultBucket: MACFE
      tlsSkipVerify: true
    secureJsonData:
      token: my-super-secret-auth-token
    editable: true
    isDefault: true
